<div class="row mt-5">
  <div class="col-md-2 align-self-center">
    <img class="rounded-circle" src="https://media.toledano.org/images/yo.jpg" alt="Javier Sanchez Toledano" width="90" />
  </div>
  <div class="col-md-10">
    <h5 class="font-weight-bold">Escrito por Javier Sanchez Toledano <span><a target="_blank" href="https://twitter.com/jstoledano" class="btn btn-outline-success btn-sm btn-round ml-2">Sígueme</a></span></h5>
    <p>
    Soy Licenciado en Informática e Ingeniero en Sistemas Computacionales.<br>
    Soy auditor líder certificado por ICA en la Norma ISO 9000, desarrollo
      sistemas de gestión de la calidad con un enfoque de mejora continua,
      creo tableros de control con indicadores clave para mejorar la toma
      de decisiones basadas en datos.
    </p>
  </div>
</div>