<li class="nav-item">
    <a class="nav-link" href="{% url 'blog:index' %}"><i class="fa fa-house"></i> Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#cv"><i class="fa fa-book-open"></i> Curriculum Vitae</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#contac"><i class="fa fa-phone"></i> Contacto</a>
</li>
<li class="nav-item">
    <a target="_blank" class="nav-link" href="#cats"><i class="fa-regular fa-folder-open"></i> Categorías</a>
</li>
<li class="nav-item">
    <a target="_blank" class="nav-link" href="#archivo"><i class="fa fa-box-archive"></i> Archivo</a>
</li>
<li class="nav-item">
    <a target="_blank" class="nav-link" href="#sitemap"><i class="fa fa-sitemap"></i> Mapa del sitio</a>
</li>