  <!-- Navbar -->
  <nav id="MagicMenu" class="topnav navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'blog:index' %}"><strong>Blog Toledano</strong></a>
      <button
              class="navbar-toggler collapsed"
              type="button" data-toggle="collapse"
              data-target="#navbarColor02"
              aria-controls="navbarColor02"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarColor02" style="">
        <ul class="navbar-nav mr-auto d-flex align-items-center">
          {% include 'partials/_menu-header.html' %}
        </ul>
        <ul class="navbar-nav ml-auto d-flex align-items-center">
{#          {% include search-lunr.html %}#}
        </ul>
      </div>
    </div>
  </nav>