[Unit]
Description=blog daemon
Requires=blog.socket
After=network.target

[Service]
User=javier
Group=javier
WorkingDirectory=/home/javier/Projects/blog/src
ExecStart=/home/javier/.virtualenvs/blog/bin/gunicorn \
  blogApp.wsgi:application \
  --name blog \
  --workers 3 \
  --user=javier --group=javier \
  --access-logfile - \
  --log-level=debug \
  --bind=unix:/home/javier/Projects/blog/blog.sock

[Install]
WantedBy=multi-user.target