{% extends "blog/base.html" %}

{% block metadata %}
	<meta name="description" content="{{ entry.resumen }}">
	<meta property="og:description" content="{{ entry.resumen }}">
	<meta property="og:title" content="{{ entry.title }}" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{ entry.get_absolute_url }}" />
{% endblock %}

{% block content %}
<div class="post">
	<h1 class="post-title">{{ entry.title }}</h1>
	<span class="post-date">{{ entry.pub_date }}</span>
	{{ entry.body_html | safe }}

	{% if article.tags.all %}
		<span class="post-tags">
			Tags:
			<ul>
				{% for tag in entry.tags.all %}
					<li>{{ tag }}</li>
				{% endfor %}
			</ul>
		</span>
	{% endif %}
</div>
{% endblock %}
