{% load static %}
<!DOCTYPE html>
<html lang="es-mx" prefix="og: http://ogp.me/ns#">
	<head>
		<link href="http://gmpg.org/xfn/11" rel="profile">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">

		<!-- Metadata -->
		{% block metadata %}
			<meta name="description" content="{{ BIO }}" />
			<meta property="og:description" content="{{ BIO }}" />
			<meta property="og:title" content="{{ SITENAME }}{% if SITESUBTITLE %} - {{ SITESUBTITLE }}{% endif %}" />
			<meta property="og:type" content="website" />
			<meta property="og:url" content="{{ SITEURL }}" />
		{% endblock %}
		<meta property="og:image" content="{{ SITEURL }}/images/{{ PROFILE_IMAGE }}" />

		<!-- Enable responsiveness on mobile devices-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

		<title>{% block title %}Blog Javier Sanchez Toledano{% endblock title %}</title>

        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
        <link rel="stylesheet" type="text/css" href="https://media.toledano.org/theme/css/zenburn.css">    <link rel="dns-prefetch" href="https://yo.toledano.org"/>
            <link rel="dns-prefetch" href="//www.gstatic.com"/>
            <link rel="dns-prefetch" href="//fonts.gstatic.com"/>
            <link rel="dns-prefetch" href="//fonts.googleapis.com"/>
            <link rel="dns-prefetch" href="//accounts.google.com"/>
            <link rel="dns-prefetch" href="//ssl.google-analytics.com"/>
            <link rel="dns-prefetch" href="//www.google-analytics.com"/>
            <link rel="dns-prefetch" href="//googleads.g.doubleclick.net"/>
            <link rel="dns-prefetch" href="//pagead2.googlesyndication.com"/>
            <link rel="dns-prefetch" href="//twemoji.maxcdn.com"/>
            <link rel="dns-prefetch" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400"/>

		<link rel="stylesheet" href="{% static 'blog/css/poole.css' %}" />
		<link rel="stylesheet" href="{% static 'blog/css/hyde.css' %}" />
		<link rel="stylesheet" href="{% static 'blog/css/syntax.css' %}" />

    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">

		<!-- Feeds -->
		{% include 'blog/partials/_feeds.html' %}

		<!-- Analytics -->
		{% include 'blog/partials/_google_analytics.html' %}
	</head>

	<body>
		{% include 'blog/partials/_sidebar.html' %}
		<div class="content container">
			{% block content %}
			{% endblock %}

            <p class="sidebar-footer">
                &copy; 2022 |   Publicado usando <em><a itemprop="url" href="https://python.org" target="_blank">Python</a></em> y
                <a itemprop="url" href="https://djangoframework.com" target="_blank">Django Framework</a> |
                Licencia
                <a itemprop="url" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.es" target="_blank">
                  <img
                    alt="Licencia Creative Commons"
                    style="border-width:0; display: inline; margin: 0; border-radius: 0;"
                    src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" />
                </a>
            </p>
		</div>
	</body>
</html>