{% load static %}
<!DOCTYPE html>
<html lang="es-mx" prefix="og: http://ogp.me/ns#">
	<head>
        <title>{% block title %}Blog Toledano{% endblock title %}</title>
        <meta name="description" content="{% block meta_description %}{% endblock %}">

		<link href="http://gmpg.org/xfn/11" rel="profile">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">

        {% include 'blog/partials/_analytics.html' %}
        <meta http-equiv="imagetoolbar" content="no">
        <meta http-equiv="pragma" content="cache">
        <meta http-equiv="cache-control" content="cache">
        <meta http-equiv="vary" content="content-language">
        <meta http-equiv="Cache-control" content="max-age=2592000, public">

        {% include 'blog/partials/_favicons.html' %}

		<!-- Metadata -->
		{% block metadata %}{% endblock metadata %}

		<!-- Feeds -->
		{% include 'blog/partials/_feeds.html' %}

		<!-- Analytics -->

	</head>

	<body>
		{% include 'blog/partials/_sidebar.html' %}
		<div class="content container">
			{% block content %}{% endblock %}
		</div>

        {% include 'blog/partials/_prefetch.html' %}
	</body>
</html>