{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>toledano.org | Sitio Personal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta name="description" content="">
    <meta name="author" content="{{ author }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="{% static 'blog/css/theme-style.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/colour-slate.min.css' %}" id="colour-scheme" rel="stylesheet">
    <link href="{% static 'blog/css/custom-style.css' %}" rel="stylesheet">

    <link href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" rel="stylesheet">
    <link href="{% static 'blog/plugins/flag-icon-css/css/flag-icon.min.css' %}" rel="stylesheet">
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <link href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css" rel="stylesheet">
    <link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css" rel="stylesheet">

    {% include 'blog/partials/_favicons.html' %}

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Rambla:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,400,700' rel='stylesheet' type='text/css'>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/retina.js/1.3.0/retina.min.js"></script>
</head>

<body class="page page-onepager header-ontop page-index-freelancer-portfolio navbar-layout-default">

<a id="#top" href="#content" class="sr-only">Ir al contenido</a>

<div id="header" class="w-100 pos-fixed pos-t scroll-state-hidden"
     data-scroll="scroll-state" data-scroll-amount="500"
     data-scroll-setting='{"effectIn":"slideInDown", "effectOut":"slideOutUp", "effectDuration":"0.3", "breakpoint":"992"}'>

    <div class="header header-dark py-2 bg-dark bg-op-9 border-bottom-0">
        <!-- all direct children of the .header-inner element will be vertically aligned with each other you can override all the behaviours using the flexbox utilities (flexbox.html) All elements with .header-brand & .header-block-flex wrappers will automatically be aligned inline & vertically using flexbox, this can be overridden using the flexbox utilities (flexbox.htm) Use .header-block to stack elements within on small screen & "float" on larger screens use .order-first or/and .order-last classes to make an element show first or last within .header-inner or .headr-block elements -->
        <div class="header-inner container">
            <!--branding/logo -->
            <div class="header-brand">
                <a class="header-brand-text" href="index.html" title="Home">
                    <h2 class="h3 font-weight-normal text-letter-spacing-sm text-font-base text-white">
                        Javier <span class="font-weight-bold">Sanchez Toledano</span>
                    </h2>
                </a>
                <div class="header-divider d-none d-lg-block"></div>
                <div class="header-slogan d-none d-lg-block">Fullstack Developer</div>
            </div>
            <!-- other header content -->
            <div class="header-block order-lg-12">
                <mobile collapse menu button - data-toggle="collapse" = default BS menu - data-toggle="off-canvas" = Off-cavnas Menu - data-toggle="overlay" = Overlay Menu>
                <a href="#top" class="btn btn-link btn-icon text-white d-lg-none"
                   data-toggle="collapse" data-target=".navbar-main"
                   data-settings='{"cloneTarget":true, "targetClassExtras": "navbar-offcanvas"}'>
                    <i class="fa fa-bars"></i> </a>
            </div>

            <div class="navbar navbar-expand-md navbar-expand-collapse navbar-static-top">
                <!--everything within this div is collapsed on mobile-->
                <div class="navbar-main collapse ">
                    <!--main navigation-->
                    <ul class="nav navbar-nav navbar-dark navbar-nav-onepager">
                        <li class="nav-item"></li>
                        <li class="nav-item">
                            <a href="#top"
                               data-toggle="scroll-link"
                               data-scroll-link-nooffset=true
                               class="nav-link link-effect-underline">
                                <i class="fa fa-home nav-link-icon"></i>
                                <span class="d-none">Inicio</span> </a>
                        </li>
                        <li class="nav-item"><a href="#about" data-toggle="scroll-link" data-scroll-link-nooffset=true
                                                class="nav-link link-effect-underline"> Sobre mí </a></li>
                        <li class="nav-item"><a href="#skills" data-toggle="scroll-link" data-scroll-link-nooffset=true
                                                class="nav-link link-effect-underline"> Habilidades </a></li>
                        <li class="nav-item">
                            <a href="#idiomas" data-toggle="scroll-link"
                                               data-scroll-link-nooffset=true class="nav-link link-effect-underline">
                                                Idiomas </a></li>
                        <li class="nav-item"><a href="#experience" data-toggle="scroll-link"
                                                data-scroll-link-nooffset=true class="nav-link link-effect-underline">
                            Experiencia </a></li>
                        <li class="nav-item"><a href="{% url 'blog:blogIndex' %}" data-toggle="scroll-link" data-scroll-link-nooffset=true
                                                class="nav-link link-effect-underline"> Blog </a></li>
                        <li class="nav-item"><a href="#contact" data-toggle="scroll-link" data-scroll-link-nooffset=true
                                                class="nav-link link-effect-underline"> Contacto </a></li>
                    </ul>
                </div>
                <!--/.navbar-collapse -->
            </div>
        </div>
    </div>
</div>

<!-- ======== @Region: #highlighted ======== -->
<div id="highlighted" class="border-bottom-0 bg-dark">
    <!-- Image Banner: Use the the data-bg-img functionality to create a simple image banner Use spacer classes to make the banner larger with padding, allows for easy responsive changes too see: elements-ctas.htm To make the banner full height/screen add the attributes: data-toggle="full-height" data-offset="#header" -->
    <div class="bg-white overlay overlay-op-8 text-center text-lg-left pt-8 pb-7 flex-valign"
         data-bg-img="{% static '/img/fondo.jpg' %}"
         data-css='{"background-position": "center top","background-attachment": "fixed"}'
         data-toggle="full-height" data-breakpoint="992" data-scroll="scrollax" data-scrollax-y-ratio="off">
        <div class="container">
            <h4 class="text-white font-weight-normal text-uppercase mb-0" data-animate="fadeIn"
                data-animate-delay="0.2">
                Javier Sanchez Toledano
            </h4>
            <h2 class="display-3 text-white mb-0 text-letter-spacing-xs d-inline-block">
          <span data-animate="fadeIn"
                data-animate-delay="0.4">Soy </span>
                <span class="font-weight-bold"
                      data-typed='["Quality Lead Auditor", "DB Admin", "Fullstack Developer"]'
                      data-typed-settings='{"delay":1000, "speed":200,"breakLines":false, "deleteDelay":1500}'></span>
            </h2>
            <a href="#about"
               data-toggle="scroll-link" data-scroll-link-nooffset=true
               class="btn btn-primary btn-icon btn-rounded ml-3 mt-4-neg d-none d-lg-inline-block">
                <i class="fa fa-chevron-down"></i></a>
        </div>
    </div>
</div>

<!-- ======== @Region: #content ======== -->
<div id="content" class="p-0">
    <div id="about" class="bg-primary text-white">
        <div class="container py-6" data-animate="fadeIn">
            <h2 class="text-white display-4 font-weight-bold mb-3 text-letter-spacing-xs">
                Acerca de mi
            </h2>
            <div class="row">
                <div class="col-lg-4 order-lg-2">
                    <img src="{% static 'img/yo.jpg' %}"
                         alt="Me"
                         class="img-fluid rounded-circle op-7 border-white border-w-5 w-30 w-lg-80 mt-lg-4-neg d-none d-lg-block"/>
                </div>
                <div class="col-lg-8">
                    <p class="lead">Ingeniero en Sistemas Computacionales.</p>
                    <p>Soy Licenciado en Informática e Ingeniero en Sistemas Computacionales.</p>
                    <p class="mb-0">
                        Soy auditor líder certificado por ICA en la Norma ISO 9000, desarrollo sistemas de gestión de
                        la calidad con un enfoque de mejora continua, creo tableros de control con indicadores clave
                        para mejorar la toma de decisiones basadas en datos.
                    </p>
                    <p></p>
                    <p class="lead">
                        <i class="fas fa-download pr-1 fa-fw"></i>
                        Descarga mi <a class="text-white" href="/uploads/resume.pdf" target="_blank">
                        <mark>Currículum Vitae</mark>
                    </a>.
                    </p>
                </div>
            </div>
            <hr class="border-white op-3 mt-6 mb-0"/>
            <div id="skills" class="pt-6" data-animate="fadeIn">
                <h2 class="text-white display-4 font-weight-bold mb-3 text-letter-spacing-xs">
                    Habilidades
                </h2>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-4">
                            <h5 class="d-flex mt-0 op-8">
                                <i class="fab fa-fw fa-html5 mr-2"></i>
                                <i class="fab fa-fw fa-css3 mr-2"></i> HTML5 y CSS3 (95%)
                            </h5>
                            <div class="progress">
                                <div
                                        class="progress-bar py-1 w-92 bg-primary-darkend"
                                        data-toggle="progress-bar-animated-progress"
                                        role="progressbar" aria-valuenow="95"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <h5 class="d-flex mt-0 op-8">
                                <i class="fab fa-fw fa-python mr-2"></i> Python (90%)
                            </h5>
                            <div class="progress">
                                <div class="progress-bar py-1 w-90 bg-primary-darkend"
                                     data-toggle="progress-bar-animated-progress" role="progressbar" aria-valuenow="90"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <h5 class="d-flex mt-0 op-8">
                                <i class="fab fa-fw fa-linux mr-2"></i> System Admin (95%)
                            </h5>
                            <div class="progress">
                                <div class="progress-bar py-1 w-95 bg-primary-darkend"
                                     data-toggle="progress-bar-animated-progress" role="progressbar" aria-valuenow="95"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-4">
                            <h5 class="d-flex mt-0 op-8">
                                <i class="fab fa-fw fa-android mr-2"></i> Android (50%)
                            </h5>
                            <div class="progress">
                                <div class="progress-bar py-1 w-48 bg-primary-darkend"
                                     data-toggle="progress-bar-animated-progress" role="progressbar" aria-valuenow="50"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <h5 class="d-flex mt-0 op-8">
                                <i class="fab fa-fw fa-windows mr-2"></i> Windows (75%)
                            </h5>
                            <div class="progress">
                                <div class="progress-bar py-1 w-54 bg-primary-darkend"
                                     data-toggle="progress-bar-animated-progress" role="progressbar" aria-valuenow="75"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <h5 class="d-flex mt-0 op-8">
                                <i class="fab fa-fw fa-github-alt mr-2"></i> GitHub (90%)
                            </h5>
                            <div class="progress">
                                <div class="progress-bar py-1 w-78 bg-primary-darkend"
                                     data-toggle="progress-bar-animated-progress" role="progressbar" aria-valuenow="90"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="hr-primary-darkend my-0"/>

    <!-- Features -->
    <div id="soft-skills" class="container py-4 py-lg-6">
        <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary"/>
        <h2 class="text-center text-uppercase font-weight-bold my-0">
            Soft Skills
        </h2>
        <h5 class="text-center font-weight-light mt-2 mb-0 text-muted">
            ¡Más de 20 años de trabajo en equipo!
        </h5>
        <hr class="mb-5 w-50 mx-auto"/>
        <div class="row text-center">
            <div class="col-lg-4 py-1">
                <i class="la la-bullseye icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.1"></i>
                <h5 class="mt-1 op-8">
                    Enfocado en resultados
                </h5>
                <p class="text-sm text-black-50">
                    Alineo mi esfuerzo con los objetivos de la organización para maximizar resultados.
                </p>
            </div>
            <div class="col-lg-4 py-1">
                <i class="la la-cogs icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.2"></i>
                <h5 class="mt-1 op-8">
                    Innovador
                </h5>
                <p class="text-sm text-black-50">
                    Desarrollo nuevas herramientas y mejor procesos para alcanzar las metas de la organización.
                </p>
            </div>
            <div class="col-lg-4 py-1">
                <i class="la la-commenting icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.3"></i>
                <h5 class="mt-1 op-8">
                    Buen comunicador
                </h5>
                <p class="text-sm text-black-50">Sé escuchar y comunicar ideas,<br /> conceptos y conocimiento.</p>
            </div>
            <div class="col-lg-4 py-1">
                <i class="la la-area-chart icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.4"></i>
                <h5 class="mt-1 op-8">
                    Mejora Continua
                </h5>
                <p class="text-sm text-black-50">
                    Mejoro continuamente mis habilidades.<br/>Aprendo de mis errores.
                </p>
            </div>
            <div class="col-lg-4 py-1">
                <i class="la la-users icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.5"></i>
                <h5 class="mt-1 op-8">
                    Trabajo en equipo
                </h5>
                <p class="text-sm text-black-50">
                    Me integro a equipos de trabajo aportando mi experiencia para generar valor agregado.
                </p>
            </div>
            <div class="col-lg-4 py-1">
                <i class="la la-plug icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.6"></i>
                <h5 class="mt-1 op-8">
                    Adaptable
                </h5>
                <p class="text-sm text-black-50">
                    Me adapto a equipos, personas y procesos para crear ventajas emergentes.
                </p>
            </div>
        </div>
    </div>

    <!-- idiomas -->
    <div id="idiomas" class="bg-white">
      <div class="container py-6 animated animated-done" data-animate="fadeIn">
          <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary"/>
        <h2 class="text-dark display-4 font-weight-bold mb-3 text-letter-spacing-xs">
          Idiomas
        </h2>
        <div class="row text-center">
          <div class="col-lg-4 py-2">
              <img    class="ion-social-usd-outline icon-3x icon-sq bg-primary text-white rounded-circle bg-shadow animated-done bounceIn animated"
                      data-animate="fadeIn" data-animate-delay="0.1" data-hover="bounceOut" data-hover-out="bounceIn" style="animation-delay: 0.1s;"
                      src="https://img.icons8.com/fluency/96/null/mexico-circular.png"/>
            <h4 class="mt-2">
              Español
            </h4>
            <p class="mb-2">Nativo</p>
          </div>
          <div class="col-lg-4 py-2">
            <img    class="ion-social-usd-outline icon-3x icon-sq bg-primary text-white rounded-circle bg-shadow animated-done bounceIn animated"
                      data-animate="fadeIn" data-animate-delay="0.1" data-hover="bounceOut" data-hover-out="bounceIn" style="animation-delay: 0.1s;"
                      src="https://img.icons8.com/fluency/96/null/usa-circular.png"/>
            <h4 class="mt-2">
              English
            </h4>
              <p class="mb-2"><a href="https://www.efset.org/cert/hgzpW5">C2 Proficient</a></p>
            <a href="https://www.efset.org/cert/hgzpW5" class="text-sm font-weight-bold">Read More <i class="ion-ios-arrow-forward pl-1"></i></a>
          </div>
        </div>
      </div>
    </div>

    <!-- experience -->
    <div id="experience" class="py-6" data-animate="fadeIn">
        <div class="container">
            <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary"/>
            <h2 class="text-dark display-4 font-weight-bold mb-3 text-letter-spacing-xs">
                Experiencia
            </h2>
            <div class="owl-thumbs carousel-timeline-nav"
                 data-toggle="owl-carousel"
                 data-owl-carousel-thumbs="#experience-timeline"
                 data-owl-carousel-settings='{"items":4, "nav":false, "dots":false, "merge":true, "mergeFit":true}'>
                <a class="owl-thumb text-sm text-uppercase" data-merge="2">Presente</a>
                <a class="owl-thumb text-sm text-uppercase" data-merge="2">2017</a>
                <a class="owl-thumb text-sm text-uppercase" data-merge="2">2014</a>
                <a class="owl-thumb text-sm text-uppercase" data-merge="2">2011</a>
            </div>
            <div class="owl-carousel owl-overflow owl-highlight-active owl-equalheight" id="experience-timeline"
                 data-toggle="owl-carousel" data-owl-carousel-settings='{"items":1,"nav":true, "dots":false}'>
                <div class="p-4 p-lg-5 bg-light border-primary border-w-3 border-top-0 border-left-0 border-right-0 mb-2 w-100">
                    <div class="row">
                        <div class="col-md-2 d-none d-md-block">
                            <img src="{% static '/blog/img/ine.svg' %}" alt="INE" class="img-fluid"/>
                        </div>
                        <div class="col-md-10">
                            <h5 class="text-uppercase my-0 text-primary">
                                Ene 2018 - Presente
                            </h5>
                            <h2 class="text-dark text-letter-spacing-sm font-weight-bold my-0">
                                <span>Responsable del Centro Estatal de Consulta del Padrón Electoral</span>
                            </h2>
                            <p>
                                Genero consultas a las bases de datos del Padrón Electoral a solicitud de las
                                representaciones de
                                los Partidos Políticos en bases de datos Oracle en entornos Red Hat Enterprise Linux.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="p-4 p-lg-5 bg-light border-primary border-w-3 border-top-0 border-left-0 border-right-0 mb-2 w-100">
                    <div class="row">
                        <div class="col-md-2 d-none d-md-block">
                            <img src="{% static '/blog/img/ine.svg' %}" alt="INE" class="img-fluid"/>
                        </div>
                        <div class="col-md-10">
                            <h5 class="text-uppercase my-0 text-primary">
                                ENE 2015 - DIC 2017
                            </h5>
                            <h2 class="text-dark text-letter-spacing-sm font-weight-bold my-0">
                                Cartógrafo
                                </span>
                            </h2>
                            <p>
                                Hago uso de sistemas de información geográfica (GIS) para mantener actualizada la
                                cartografía electoral en el estado de Tlaxcala, insumo básico para garantizar los
                                derechos políticos de los ciudadanos tlaxcaltecas.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="p-4 p-lg-5 bg-light border-primary border-w-3 border-top-0 border-left-0 border-right-0 mb-2 w-100">
                    <div class="row">
                        <div class="col-md-2 d-none d-md-block">
                            <img src="{% static '/blog/img/ine.svg' %}" alt="INE" class="img-fluid"/>
                        </div>
                        <div class="col-md-10">
                            <h5 class="text-uppercase my-0 text-primary">
                                ENE 2012 - DIC 2014
                            </h5>
                            <h2 class="text-dark text-letter-spacing-sm font-weight-bold my-0">
                                Supervisor de Sistemas de Gestión de la Calidad
                                </span>
                            </h2>
                            <p>
                                Desarrollo un <em>Balanced Scorecard</em> para la gestión de indicadores clave junto con
                                un
                                subsistema de gestión documental para cumplir con la norma ISO 9001. Audito procesos
                                para asegurar
                                el cumplimiento de requisitos y la obtención de resultados planificados para ayudar a
                                garantizar los
                                derechos político electorales de los ciudadanos.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="p-4 p-lg-5 bg-light border-primary border-w-3 border-top-0 border-left-0 border-right-0 mb-2 w-100">
                    <div class="row">
                        <div class="col-md-2 d-none d-md-block">
                            <img src="{% static '/blog/img/ine.svg' %}" alt="INE" class="img-fluid"/>
                        </div>
                        <div class="col-md-10">
                            <h5 class="text-uppercase my-0 text-primary">
                                Sep 2001 - Dic 2011
                            </h5>
                            <h2 class="text-dark text-letter-spacing-sm font-weight-bold my-0">
                                Soporte Técnico
                            </h2>
                            <p>
                                Aseguro el funcionamiento continuo de los Módulos de Atención Ciudadana. Administro los
                                queipos bajo el
                                sistema operativo con Fedora Linux.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- News section & sidebar -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary"/>
                <h2 class="text-center text-uppercase font-weight-bold my-0" id="blog">
                    Artículos del Blog
                </h2>
                <h5 class="text-center font-weight-light mt-2 mb-0 text-muted">
                    Los artículos del blog más recientes
                </h5>
                <hr class="mb-5 w-50 mx-auto"/>
                <div class="row">
                {% for entry in entries %}
                  {% if forloop.first %}
                    <div class="col-lg-7">
                        <div class="card card-silent mb-lg-4 border-0 flex-ew"
                             data-url="{{ entry.get_absolute_url }}">
                            <img class="card-img img-fluid"
                                 data-src="{% if entry.cover %}{{ entry.cover }}{% else %}http://placeimg.com/640/480/tech{% endif %}"
                                 alt="{{ entry.title }}" data-toggle="blazy">
                            <div class="card-body px-0">
                                <h4 class="card-title mb-1">{{ entry.title }}</h4>
                                <p class="card-text text-uppercase text-xs">
                                    <i class="far fa-folder-open"></i> {{ entry.category }}
                                    <span class="px-1">/</span>
                                    <i class="far fa-clock"></i> {{ entry.pub_date }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5">{% else %}
                        <div class="row row-hover py-1 py-lg-3 align-items-center"
                             data-url="{% url 'blog:entry' entry.category entry.slug %}">
                            <div class="col-3">
                                <img class="img-fluid" data-toggle="blazy"
                                     data-src="{% if entry.cover %}{{ entry.cover }}{% else %}http://placeimg.com/100/100/tech{% endif %}"
                                     alt="{{ entry.title }}">
                            </div>
                            <div class="col-9 pl-0">
                                <h6 class="mb-1">
                                    {{ entry.title }}
                                </h6>
                                <p class="text-uppercase text-xs mb-0">
                                    <span class="text-primary"><i class="far fa-folder-open"></i>  {{ entry.category }}</span>
                                    <span class="px-1">/</span>
                                    <i class="far fa-clock"></i> Mar 13 2020
                                </p>
                            </div>
                        </div>
                        <hr class="my-1"/>
                    {% endif %}

                    {% endfor %}</div>
                </div>
                <!-- end of News sections: Lifestyle -->

            </div>
        </div>
    </div>
</div>

<!-- ======== @Region: #footer ======== -->
<footer id="footer" class="p-0">
    <div class="container pt-6 pb-5">
        <div class="row">
            <div class="col-md-4">
                <!--@todo: replace with company contact details-->
                <h4 class="text-uppercase text-white" id="contact">
                    Contacto
                </h4>
                <address>
                    <ul class="list-unstyled">
                        <li>
                            <abbr title="Phone"><i class="fa fa-phone fa-fw"></i></abbr>
                            +52 246 177 6996
                        </li>
                        <li>
                            <abbr title="Email"><i class="fa fa-envelope fa-fw"></i></abbr>
                            <img src="http://safemail.justlikeed.net/e/20fc96cb504efcde094ab2899bd65f2d.png" border="0"
                                 align="absbottom" title="email"></a>
                        </li>
                        <li>
                            <abbr title="Address"><i class="fa fa-home fa-fw"></i></abbr>
                            Tlaxcala, México.
                        </li>
                    </ul>
                </address>
            </div>

            <div class="col-md-4"></div>

            <div class="col-md-4"></div>
        </div>

    </div>
    <hr class="my-0 hr-blank op-2"/>
    <!--@todo: replace with company copyright details-->
    <div class="bg-inverse-dark text-sm py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="mb-0">Site template by <a href="appstraptheme.com" class="footer-link">AppStrap</a> |
                        Copyright 2020 &copy; AppStrap</p>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline footer-links float-md-right mb-0">
                        <li class="list-inline-item"><a href="#">Terms</a></li>
                        <li class="list-inline-item"><a href="#">Privacy</a></li>
                        <li class="list-inline-item"><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <a href="#top" class="btn btn-icon btn-dark pos-fixed pos-b pos-r mr-3 mb-3 scroll-state-hidden"
               title="Back to top" data-scroll="scroll-state"><i class="fa fa-chevron-up"></i></a>
        </div>
    </div>
</footer>


<!--jQuery 3.3.1 via CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Popper 1.16.0 via CDN, needed for Bootstrap Tooltips & Popovers -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Bootstrap v4.5.0 JS via CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<!-- JS plugins required on all pages NOTE: Additional non-required plugins are loaded ondemand as of AppStrap 2.5 To disable this and load plugin assets manually simple add data-plugins-manual=true to the body tag -->

<!--Custom scripts & AppStrap API integration -->
<script src="{% static 'blog/js/custom-script.js' %}"></script>
<!--AppStrap scripts mainly used to trigger libraries/plugins -->
<script src="{% static 'blog/js/script.js' %}"></script>
</body>

</html>