{% load static %}
<div class="sidebar">
	<div class="container sidebar-sticky">
		<div class="sidebar-about">

			<h1>
				<a href="/">
					<img class="profile-picture" src="{% static 'blog/img/homes/cv-portfolio.jpg' %}">
					Javier
				</a>
			</h1>
			<p class="lead"></p>
			<p class="lead">Fullstack Developer </p>
			<p></p>
		</div>
		<ul class="sidebar-nav">
            <li><a href="#">Página 1</a></li>
        </ul>
		<nav class="sidebar-social">
			<a class="sidebar-social-item" href="#"><i class="fa fa-envelope"></i></a>
            <a class="sidebar-social-item" href="#" target="_blank"><i class="ai ai-coursera"></i></a>
			<a class="sidebar-social-item" href="#"><i class="fa fa-rss"></i></a>
		</nav>
		{% if FOOTER_TEXT %}
			<p class="sidebar-footer">FOOTER TEXT</p>
		{% endif %}
	</div>
</div>
