{% load static %}
<div class="sidebar">
	<div class="container sidebar-sticky">
		<div class="sidebar-about">

			<h1>
				<a href="{% url 'blog:index' %}">
					<img class="profile-picture" src="{% static 'img/yo.jpg' %}">
					Javier
				</a>
			</h1>
			<p class="lead">Fullstack Developer </p>
		</div>
		<nav class="sidebar-social">
            <a class="sidebar-social-item" href="{% url 'blog:blogIndex' %}"><i class="fa fa-home"></i></a>
			<a class="sidebar-social-item" href="https://www.linkedin.com/in/javier-sanchez-toledano/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            <a class="sidebar-social-item" href="https://github.com/jstoledano" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
			<a class="sidebar-social-item" href="https://twitter.com/jstoledano"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
		</nav>

        <p class="sidebar-footer">
            &copy; {% now "Y" %} |   Publicado usando <em><a itemprop="url" href="https://python.org" target="_blank">Python</a></em> y
            <a itemprop="url" href="https://djangoframework.com" target="_blank">Django Framework</a> |
                Licencia <a itemprop="url" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.es" target="_blank">
                <img alt="Licencia Creative Commons" style="border-width:0; display: inline; margin: 0; border-radius: 0;vertical-align: middle;" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" />
            </a>
        </p>

	</div>
</div>
